<h1 class="center">All Position Players</h1>
<hr/>

<% @players.each do |player| %>
  <h3 class="center link-border"><%= link_to "#{player.name} - #{player.position}", position_player_path(player) %></h3>
<% end %>
